body {
	color: #fff;
	background: url(../img/universo.jpg);
	background-size: cover;
	font-family: Arial;
}

#hora{
	font-size: 49px;
	font-weight: 700;
}

.text-center{
	text-align: center;
}


#otros{
	margin-top: 21px;
}

#seleccionar{
	margin-top: 21px;
}

.hora-ciudad,.ciudad{
	font-size: 21px;
}

#hora{
	margin-top: 21px;
}

#myModal{
	color: black;
	text-align: left;
}